.madang-workshop{
}

.madang-performance{
}

.bible-study-prayer{
}

.ecumenical-conversatio{
}

/*style for programme_view template*/
.p-top-info-container{
    margin: 20px 0;
    width:90%;
}
.p-top-info-container:after{content: " ";display: block;clear: both}
.p-date-container{
    width: 26%;
    vertical-align:top;
}
.p-date-container img{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    background-color: #ccc;
}
.p-date-container span{
    display: block;
}
.p-description{
    padding-left: 3%;
    border-left: 2px solid #555;
    vertical-align:top;
}


